#hero_section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.7)), url(./img/ABE0E944-63CC-4D46-B841-7F8D42BCFA1F.jpg);
    background-size: cover;
    color:  rgb(226, 226, 226);
    height: 630px;
}

nav{
    position: static;
    background-color: rgb(0, 110, 144);
    color: white;
}

body{
    background-color: rgb(226, 226, 226);
}

#logo1{
    color: rgb(241, 143, 1);
}

#logo2{
    color: rgb(241, 143, 1);
}

button{
    background-color: rgb(241, 143, 1);
}

#nav_btn{
    background-color: rgb(241, 143, 1);
    color: white;
}
.yellow_btn{
    background-color: rgb(241, 143, 1)!important;
}

#event_detail{
    margin: -80px 0px 0px 0px !important;
}

#form_footer{
    margin: -90px 0px 0px 0px !important;
}

.steps{
    background-color: white;
}

#step2{
    display: none;
    background-color: white;
}

#step3{
    display: none;
    background-color: white;
}

.tabs{
    background-color: white;
}
.checkbox{
    margin: 0px 0px 0px -300px !important;
}

#attend_form{
    margin: auto auto auto auto;
}

#contact-form{
    background-color: rgb(226, 226, 226);
}