<%- include('../template/head') -%>
<body>
  <!-- header  -->
    <%- include('../template/header') -%> 
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div id="event_head" class="text-center mb-20">
          
        </div>
        <div id="event_body" class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
          
        </div>
      </div>
    </section>
    <h1 style="text-align: center;" class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Meet Our Speakers</h1>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div id="div_display" class="flex flex-wrap -m-4">
            
          

        </div>
      </div>
    </section>
    <!-- Footer -->
     <%- include('../template/footer') -%>
     <script src="/js/event_form.js"></script>
     <script src="/js/form_generation.js"></script>
     <script src="/js/speaker.js"></script>
</body>